<tr>
  <th><h1>¡Bienvenidos al Playlister!</h1></th>
</tr>
<tr>
  <h3><a href="/artists">Artists</a><br/></h3>
</tr>
<tr>
  <h3><a href="/songs">Songs</a><br/></h3>
</tr>
<tr>
  <h3><a href="/genres">Genres</a><br/></h3>
</tr>
